<style type="text/css">
    p.MsoNormal {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10.0pt;
        margin-left: 0in;
        line-height: 115%;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    p.MsoListParagraphCxSpFirst {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    p.MsoListParagraphCxSpMiddle {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        margin-bottom: .0001pt;
        line-height: 115%;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    p.MsoListParagraphCxSpLast {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10.0pt;
        margin-left: .5in;
        line-height: 115%;
        font-size: 11.0pt;
        font-family: "Calibri","sans-serif";
    }

    a:link {
        color: blue;
        text-decoration: underline;
    }

    .style1 {
        color: black;
    }
</style>

<style>
    .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
        color: #a94442;
    }

    .help-block {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: red;
    }

    span.ng-scope {
        color: red;
    }
    /*input.ng-invalid {
      border: 1px solid red;

    }
    input.ng-valid {
      border: 1px solid green;

    }


    :focus ~ .error {
        display:none;
    }*/
    form.ng-submitted .ng-invalid {
        border-color: red;
        border-width: 2px;
    }
</style>
</head>
<body ng-controller="myController5">
    <div style="top: 0; width: 80%; height:  auto; margin:  auto;">
        <form name="userForm" class="form-horizontal" ng-submit="submitForm(userForm.$valid)">
            <div>


                <table align="center" class="table">
                    <tr>
                        <td>
                            <div id="searchform">
                                <table style="width:100%;font-family:Calibri;" id="applicantForm" align="center" class=" table-bordered">

                                    <tr>
                                        <td colspan="2" align="center"></td>
                                    </tr>



                                    <caption>

                                        <tr>
                                            <td class="tbbg_left" colspan="2">&nbsp;INFORMATION &gt;&gt;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;REGISTRATION NUMBER:&nbsp; </td>
                                            <td>
                                                <div>
                                                    <input name="applicant_name" class="form-control" ng-model="formData.reg_number" disabled type="text" />


                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;TITLE:&nbsp;</td>
                                            <td>
                                                <textarea class="form-control" cols="25" name="applicant_address" ng-model="formData.title_of_invention" disabled rows="4"></textarea>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;DESIGN TYPE:&nbsp;</td>
                                            <td>
                                                <input name="applicant_email" class="form-control" ng-model="formData.xtype" disabled type="text" />

                                            </td>
                                        </tr>



                                        <tr>
                                            <td align="left" colspan="2" style="background-color:#999999;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" colspan="2" style="background-color:#999999;">&nbsp;</td>
                                        </tr>
                                        <table id="doc_tbl" align="center" style="width:100%;font-family:Calibri;">
                                            <tr>
                                                <td class="tbbg" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" colspan="2" style="color:Red; font-size:16px;"><strong><!--(NOTE: DOCUMENTS ATTACHED SHOULD  NOT BE  MORE THAN 3MB EACH!!)--></strong> </td>
                                            </tr>
                                            <tr style="background-color:#999999;">
                                                <td align="left" class="tbbg_left2" style="width:25%;">&nbsp;ITEMS</td>
                                                <td align="left" class="tbbg_left2">ATTACH DOCUMENT</td>
                                            </tr>
                                            <tr ng-if="formData.show">
                                                <td align="left">&nbsp;LETTER OF AUTHORIZATION OF AGENT(FORM 2) : </td>
                                                <td align="left">
                                                    <input id="File1" type="file" /> <a target="_blank" ng-href="{{formData.logo_pic}}" ng-if="formData.show">View</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" colspan="2"></td>
                                            </tr>
                                            <tr ng-if="formData.show4">
                                                <td align="left">&nbsp;DEED OF ASSIGNMENT : </td>
                                                <td align="left">
                                                    <input id="File2" type="file" /> <a target="_blank" ng-href="{{formData.doa_doc}}" ng-if="formData.show4">View</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr ng-if="formData.show2">
                                                <td align="left">&nbsp;NOVELTY STATEMENT:</td>
                                                <td align="left">
                                                    <input id="File3" type="file" /> <a target="_blank" ng-href="{{formData.ns_doc}}" ng-if="formData.show2">View</a>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr ng-if="formData.show3">
                                                <td align="left">&nbsp;PRIORITY DOCUMENT:</td>
                                                <td align="left">
                                                    <input id="File4" type="file" /> <a target="_blank" ng-href="{{formData.pd_doc}}" ng-if="formData.show3">View</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr ng-if="formData.show5">
                                                <td align="left">&nbsp;REPRESENTATION OF DESIGN 1:</td>
                                                <td align="left">
                                                    <input id="File5" type="file" /> <a target="_blank" ng-href="{{formData.rep_pic}}" ng-if="formData.show5">View</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr ng-if="formData.show6">
                                                <td align="left">&nbsp;REPRESENTATION OF DESIGN 2:</td>
                                                <td align="left">
                                                    <input id="File6" type="file" /> <a target="_blank" ng-href="{{formData.rep2_pic}}" ng-if="formData.show6">View</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr ng-if="formData.show7">
                                                <td align="left">&nbsp;REPRESENTATION OF DESIGN 3:</td>
                                                <td align="left">
                                                    <input id="File7" type="file" /> <a target="_blank" ng-href="{{formData.rep3_pic}}" ng-if="formData.show7">View</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr ng-if="formData.show8">
                                                <td align="left">&nbsp;REPRESENTATION OF DESIGN 4:</td>
                                                <td align="left">
                                                    <input id="File8" type="file" /> <a target="_blank" ng-href="{{formData.rep4_pic}}" ng-if="formData.show8">View</a>
                                                </td>
                                            </tr>

                                          

                                        </table>
                                        <tr>
                                            <td align="center" colspan="2">

                                                <button id="Button3" class="btn-primary" type="submit">
                                                    Update
                                                </button>
                                            </td>
                                        </tr>
                                    </caption>
                                </table>


                            </div>
                        </td>
                    </tr>
                </table>



            </div>


        </form>
    </div>
</body>
