body 
{
    font-family: Arial, Helvetica, sans-serif;
}

.tbbg_solid {
    background-color: #1C5E55;
    border-color: #006699;
    color: #FFFFFF;
    font-weight: bold;
    height: 18px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

 a img{ padding:0; margin:0; border:0;}
 
/*#container { width:1200px; margin:auto; }*/
#container { width:1200px; margin:auto; }
#hd_main_space { width:1198px; height:70px; margin:auto; }
#hd_t { width:1196px; height:50px; margin:auto;}
#hd_tl 
{
     width:400px; 
     height:50px;  
     text-align:left; 
     padding:0px 0px 0px 10px;
     font-family:Arial Rounded MT Bold;
     font-size:30px;
     color:Green;     
}
 

#hd_menu
 {
   width:1190px; 
   height:20px; 
   margin:auto; 
   background-image:-webkit-gradient(linear,left top,left bottom,from(#019645),to(#111111));
   background-image:-webkit-linear-gradient(#019645,#111111);
   background-image:-moz-linear-gradient(#019645,#111111);
   background-image:-ms-linear-gradient(#019645,#111111);
   background-image:-o-linear-gradient(#019645,#111111);
   background-image:linear-gradient(#019645,#111111);
   border-radius:5px;
   padding: 5px 0 0 10px;
   color:#fff;
 }
#seal { width:50px; height:50px; margin:auto; margin-top:-35px; }
#section_header
{ 
   width :1200px;
   height:30px;
   margin :auto;   
   padding-top:5px;
   color:#fff;
   text-align:center;
   font-weight:bolder;
   font-size:1.5em;
   background-color:#888;
}

#welcome 
{ 
     width:1190px;
     height:130px; 
     border:5px solid #efefef;
     margin-top:10px;
     text-align:right;
     margin-bottom:10px;
}

#welcome h1
{ 
  
    font-size:1.0em;
    padding-right:10px;
}
#welcome h5
{ 
    padding-right:10px;
}
#welcome img
{ 
    padding-right:10px;
    height: 120px;
    width: 100px;
}

.clr_ft
{ 
    float: none;
}

#txt
{ 
     width:1200px;
     padding-top:5px;
     padding-left:5px;
    color:#000;
}

#x_types 
{ 
    width:1200px;
    /*height:350px;*/ 
    margin:auto;
  margin-top:10px;
}

#side_menu
{ 
    width:200px;
    height:800px; 
    margin:auto; 
    background-color:#888;
    float:left;
}

#x_main
{ 
    width:800px;
    /*height:400px;*/ 
    margin:auto;  
    background-color:#fff;
    float:left;
    font-size:0.75em;
}
#ads
{ 
    width:200px;
    height:400px; 
    margin:auto;  
    background-color:#888;
    float:left;
}
#left_footer_menu
{ 
     width:595px;
     height:20px;
     background-color:Gray; 
     margin-top:5px;
     float:left;
     color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-align:center;
    padding:5px 0px 0px 0px;    
}

#left_footer_menu a
{ 
     color:#fff;
     text-decoration:none;
}

#right_footer_menu
{ 
     width:595px;
     height:20px;
     background-color:Gray; 
     margin-top:5px;
     float:right;
     color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-align:center;
    padding:5px 0px 0px 0px; 
}
#bottom_footer 
{ 
    width:1190px;
    height:25px; 
    margin:auto;
    text-align:center;
    padding-top:10px;
    padding-bottom:0px;
   float:left;
   border:5px solid #efefef;
}

#index_bottom_footer 
{ 
    width:100%;
    height:25px; 
    margin:auto;
    text-align:center;
    padding-top:10px;
    margin-top:5px;
    padding-bottom:0px;
   float:left;
   border:2px solid #666;
}

/* CSSTerm.com Flyout CSS menu */

#flyout_menu {
	font-weight: 600;
	width: 200px; }

#flyout_menu ul, li {
  list-style: none;
  margin: 0;
  padding: 0; 
}

#flyout_menu ul li.hover,
#flyout_menu ul li:hover { position: relative; z-index: 599; }

#flyout_menu ul ul{
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
}

#flyout_menu ul li:hover > ul { visibility: visible; }

#flyout_menu ul ul { top: 0; left: 100%; }

#flyout_menu span, #flyout_menu a {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none; }

#flyout_menu li { background: #888; }
#flyout_menu li:hover, #flyout_menu li.active { background: #005555; }

#flyout_menu a {
    color: #FFF;
    line-height: 80%;
    padding: 16px 8px 16px 28px;
    width: 164px; }



#flyout_menu ul ul li {
	background: #888;
	border-bottom: 1px solid #007171; }

#flyout_menu ul ul li:hover { background: #005555; }


#flyout_menu2 span, #flyout_menu2 a {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none; }

#flyout_menu2 a {
    color: #FFF;
    line-height: 80%;
    padding: 16px 8px 16px 28px;
    width: 164px; }



#flyout_menu2 ul ul li {
	background: #888;
	border-bottom: 1px solid #007171; }




/* ------------------------------------------------------------------------ */

/* CSSTerm.com Flyout CSS menu Index */

#flyout_menu_index {font-weight:normal;width: 200px; }

#flyout_menu_index ul, li {list-style: none; margin: 5px; padding: 0;
                            border-style:none; border-width:1px; border-spacing:0px; border-color:#1C5E55;border-radius:3px;                         
                  }

#flyout_menu_index ul li.hover, #flyout_menu_index ul li:hover { position: relative; z-index: 599; color:#FFF;}

#flyout_menu_index ul ul{visibility: hidden;position: absolute;top: 100%;left: 0;z-index: 598;}

#flyout_menu_index ul li:hover > ul { visibility: visible;}

#flyout_menu_index ul ul { top: 0; left: 100%; }

#flyout_menu_index span, #flyout_menu_index a {display: inline-block;font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;
                                               font-size: 12px;text-decoration: none; width:100%;border-radius:3px;
}

#flyout_menu_index li { background: #FFF; }
#flyout_menu_index li:hover, #flyout_menu_index li.active { background: #999; color:#FFF; }

#flyout_menu_index a { color: #FFF; padding: 6px 8px 10px 6px;width: 200px;border-radius:3px; 
                       background-color:#1C5E55;                
              /* 
                background-image:-webkit-gradient(linear,left top,left bottom,from(#1C5E55),to(#666));                                                 
                background-image:-webkit-linear-gradient(#1C5E55,#666);
                background-image:-moz-linear-gradient(#1C5E55,#666);
                background-image:-ms-linear-gradient(#1C5E55,#666);
                background-image:-o-linear-gradient(#1C5E55,#666);
                background-image:linear-gradient(#1C5E55,#666); 
             */
                 }

#flyout_menu_index ul ul li {background: #FFF;border-bottom: 1px solid #007171; }

#flyout_menu_index ul ul li:hover { background: #005555;color:#FFF; }

#flyout_menu_index img {vertical-align:middle; }



.right-align {
  text-align:right;
}

.left-align {
  text-align:left;
}

.center-align {
  text-align:center;
}

.button 
{
background-image:-webkit-gradient(linear,left top,left bottom,from(#006699),to(#111111));
background-image:-webkit-linear-gradient(#006699,#111111);
background-image:-moz-linear-gradient(#006699,#111111);
background-image:-ms-linear-gradient(#006699,#111111);
background-image:-o-linear-gradient(#006699,#111111);
background-image:linear-gradient(#006699,#111111);
color: #fff;
text-align:center;	
border: solid 2px #efefef;
}

.tbbg_left { padding:0; margin:0 auto; width:100%; height:20px; background:url(../images/blue_header.gif) top repeat-x; background-color:#006699; text-align:left; color:#fff; font-weight:bold; border-color:#006699;}

.sub_header { padding:0; margin:0 auto;  height:20px; background:url(../images/blue_header.gif) top repeat-x; background-color: Gray; color:#fff; font-weight:bold;}