body {
}

 a img{ padding:0; margin:0; border:0;}
 
#container { width:1000px; margin:auto; }
#hd_main_space { width:998px; height:103px; margin:auto; }
#hd_t { width:996px; height:68px; margin:auto;}
#hd_tl 
{
     width:400px; 
     height:68px;  
     text-align:left; 
     padding:0px 0px 0px 10px;
     font-family:Arial Rounded MT Bold;
     font-size:30px;
     color:Green;     
   }
 

#hd_menu
 {
   width:990px; 
   height:30px; 
   margin:auto; 
   background-image:-webkit-gradient(linear,left top,left bottom,from(#019645),to(#111111));
   background-image:-webkit-linear-gradient(#019645,#111111);
   background-image:-moz-linear-gradient(#019645,#111111);
   background-image:-ms-linear-gradient(#019645,#111111);
   background-image:-o-linear-gradient(#019645,#111111);
   background-image:linear-gradient(#019645,#111111);
   border-radius:5px;
   padding: 5px 0 0 10px;
   color:#fff;
 }
#seal { width:115px; height:115px; margin:auto; margin-top:-80px; }
#top_slide 
{ 
     width:1000px;
     height:350px; 
     margin:auto; 
     background-color:Gray; 
     margin-top:10px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

#top_news 
{ 
    width:1000px;
    height:30px; 
    margin:auto;
   background-image:-webkit-gradient(linear,left top,left bottom,from(#efefef),to(#999999));
   background-image:-webkit-linear-gradient(#efefef,#999999);
   background-image:-moz-linear-gradient(#efefef,#999999);
   background-image:-ms-linear-gradient(#efefef,#999999);
   background-image:-o-linear-gradient(#efefef,#999999);
   background-image:linear-gradient(#efefef,#999999);
}

#txt
{ 
     width:1000px;
     padding-top:5px;
     padding-left:5px;
    color:#000;
}

#x_types 
{ 
    width:1000px;
    height:300px; 
    margin:auto;
  margin-top:10px;
}

#x_types_tm
{ 
    width:335px;
    height:300px; 
    margin:auto;  
    border-radius: 0px;
    background-color:green;
    float:left;
}

#x_types_pt
{ 
    width:330px;
    height:300px; 
    margin:auto;  
    border-radius: 0px;
    background-color:Purple;
    float:left;
}
#x_types_ds
{ 
    width:335px;
    height:300px; 
    margin:auto;  
    border-radius: 0px;
    background-color:blue;
    float:left;
}

.right-align {
  text-align:right;
}

.left-align {
  text-align:left;
}

.center-align {
  text-align:center;
}